{
    "extends": [
        "@fooxly/eslint-config",
        "@fooxly/eslint-config-react"
    ],
    "overrides": [
        {
            "files": ["./src/server/**/*.ts"],
            "parserOptions": {
                "project": "./tsconfig.cjs.json"
            }
        }
    ],
    "rules": {
        "import/no-default-export": "off",
        "@typescript-eslint/no-invalid-void-type": "off"
    }
}
