{
    "extends": [
        "@fooxly/eslint-config",
        "@fooxly/eslint-config-react"
    ],
    "overrides": [
        {
            "files": ["./scripts/*.ts"],
            "parserOptions": {
                "project": "./scripts/tsconfig.json"
            },
            "rules": {
                "unicorn/import-style": "off"
            }
        }
    ]
}
